<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Movie App</title>

    <meta
      name="description"
      content="
        MovieApp is a modern movie watchlist platform
        for Telugu or any language Movie lovers. Track, rate,
        search and organize your favorite Telugu movies
        including action, love, thriller,
        sci-fi, drama and feel-good films.
        "
    />

    <!-- KEYWORDS -->

    <meta
      name="keywords"
      content="
        Telugu Movies,
        Movie Watchlist,
        Telugu Cinema,Malayam Cinema,Hindi Cinema
        Tollywood,lik,dude
        Bahubali,swayam krushi
        RRR,mayabazar,gundamma katha
        Gentleman,majnu,gang leader
        leo,visil,paradise,bigil,peddi,ramayana,mahabharatam
        Pushpa,Arya,Indra,saaho,balagam
        Jersey,dangal,Dhurandhar
        Ninnu Kori,rangasthalam
        Movie Ratings,
        Watchlist App,
        Movie Tracker,
        Movie Dashboard
        "
    />

    <!-- AUTHOR -->

    <meta name="author" content="Kalam sai kumar" />

    <!-- THEME COLOR -->

    <meta name="theme-color" content="#0f172a" />

    <!-- OPEN GRAPH FOR SOCIAL MEDIA -->

    <meta
      property="og:title"
      content="MovieApp - Telugu or Any language Movie Watchlist"
    />

    <meta
      property="og:description"
      content="
        Build your personalized Telugu or any language movie watchlist.
        Rate, track and discover your favorite movies.
        "
    />

    <meta property="og:image" content="/images/movie_app_backgroun.jpg" />

    <meta property="og:type" content="website" />

    <!-- TWITTER PREVIEW -->

    <meta name="twitter:card" content="summary_large_image" />

    <link rel="icon" type="image/png" href="images/movie_app_reel.png" />

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="logo">Movie App</div>

      <ul class="nav-links">
        <li><a href="/register.html">Register</a></li>
        <li><a href="/login.html">Login</a></li>

        <li>
          <button id="themeToggle" class="theme-btn">🌙</button>
        </li>
      </ul>
    </nav>

    <!-- HERO SECTION -->
    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to Movie App</h1>

        <p>
          Manage your favorite movies professionally. Add ratings, filter
          movies, search instantly and organize your watchlist.
        </p>

        <a href="/register.html" class="btn"> Get Started </a>
      </div>
    </section>

    <!-- FEATURES -->
    <section class="features">
      <h2>Features</h2>

      <div class="feature-container">
        <div class="feature-card">
          <h3>Movie Management</h3>
          <p>Add, edit and delete movies easily.</p>
        </div>

        <div class="feature-card">
          <h3>Search & Filter</h3>
          <p>Find movies quickly using smart filters.</p>
        </div>

        <div class="feature-card">
          <h3>Ratings</h3>
          <p>Give star ratings from 1 to 5.</p>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
      <p>© 2026 Movie App. All Rights Reserved.</p>
    </footer>

    <script src="/js/index.js"></script>
  </body>
</html>
